@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --home-bg: #000B1F;
  --light-color: #fff;
  --font-family: "Bai Jamjuree", sans-serif;
  --intro-bg: rgba(80, 251, 199, 0.24);
  --green-color: #50fbc7;
  --dark-text: #145567;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--home-bg);
}

section {
  padding: 10rem 12rem;
  width: 100%;
}

#home {
  display: flex;
  flex-direction: column;
  position: relative;
}
#home .home-ellipse {
  position: absolute;
  right: 40rem;
  left: 12rem;
  bottom: 10rem;
  top: 10rem;
  z-index: -1;
  border-radius: 100%;
  fill: linear-gradient(90deg, #05f 0%, #00ff6f 100%);
  filter: blur(100px);
}
#home .home-ellipse img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#home .home-title {
  text-align: center;
}
#home .home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10rem;
}
#home .home-content .home-content_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#home .home-content .home-content_text {
  width: 100%;
  display: flex;
}
#home .home-content .home-content_text span {
  font-weight: 700;
  font-size: 6.4em;
  color: var(--light-color);
}

#about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
#about .about-title {
  width: 100%;
}
#about .about-title h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: var(--light-color);
}
#about .about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
#about .about-container .about-container_box {
  display: flex;
  gap: 4.5rem;
}
#about .about-container .about-container_box .box-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#about .about-container .about-container_box .box-content span {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #50fbc7;
}
#about .about-container .about-container_box .box-content p {
  font-weight: 400;
  font-size: 24px;
  color: var(--light-color);
  white-space: pre-line;
  word-wrap: normal;
}
#about .about-container .about-container_box:nth-child(2) {
  flex-direction: row-reverse;
}
#about .about-container .about-container_box:nth-child(2) .box-content {
  display: flex;
  align-items: flex-end;
}
#about .about-container .about-container_box:nth-child(2) span {
  width: 100%;
  text-align: start;
}
#introduction {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
#introduction .introduction-title {
  width: 100%;
}
#introduction .introduction-title h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: var(--light-color);
}
#introduction .introduction-content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  justify-content: center;
}
#introduction .introduction-content .box1 {
  grid-area: 1/1;
}
#introduction .introduction-content .box2 {
  grid-area: 1/2;
  border-radius: 2rem;
  background-color: var(--intro-bg);
}
#introduction .introduction-content .box3 {
  grid-area: 1/3;
}
#introduction .introduction-content .box4 {
  grid-area: 2/1;
  border-radius: 2rem;
  background-color: var(--intro-bg);
}
#introduction .introduction-content .box5 {
  grid-area: 2/2;
}
#introduction .introduction-content .box6 {
  grid-area: 2/3;
  border-radius: 2rem;
  background-color: var(--intro-bg);
}
#introduction .introduction-content .introduction-content_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 6rem 1.5rem;
  width: 40rem;
  height: 38rem;
}
#introduction .introduction-content .introduction-content_box span {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #50fbc7;
}
#introduction .introduction-content .introduction-content_box p {
  font-weight: 400;
  font-size: 24px;
  color: var(--light-color);
}

#profession {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}
#profession .profession-ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#profession .profession-ellipse svg {
  border-radius: 100%;
  filter: blur(100px);
}
#profession .profession-title {
  display: flex;
  width: 100%;
  padding: 0 2rem;
}
#profession .profession-title h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: var(--light-color);
}
#profession .profession-container {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
}
#profession .profession-container .profession-container_box {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--light-color);
}

#community {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8rem;
  display: flex;
  flex-direction: column;
}
#community .community-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 6rem;
}
#community .community-container .community-container_title {
  width: 100%;
}
#community .community-container .community-container_title h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: var(--light-color);
}
#community .community-container .community-container_content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 13rem;
  gap: 16rem;
}
#community .community-container .community-container_content .left-content {
  max-width: 100%;
  gap: 3.2rem;
  display: flex;
  flex-direction: column;
}
#community .community-container .community-container_content .left-content .left-content_title {
  display: flex;
}
#community .community-container .community-container_content .left-content .left-content_title .title_img {
  display: none;
}
#community .community-container .community-container_content .left-content .left-content_title span {
  font-weight: 700;
  font-size: 4em;
  color: var(--light-color);
}
#community .community-container .community-container_content .left-content .bottom-left_content {
  display: flex;
  gap: 2rem;
}
#community .community-container .community-container_content .left-content .bottom-left_content ul {
  padding-left: 3rem;
}
#community .community-container .community-container_content .left-content .bottom-left_content ul li {
  font-weight: 400;
  font-size: 1.8em;
  color: #e2daf0;
}
#community .community-container .community-container_content .right-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 2rem;
}
#community .community-container .community-container_content .right-content .right-content_text {
  display: flex;
  gap: 6rem;
}
#community .community-container .community-container_content .right-content .right-content_text .text-left,
#community .community-container .community-container_content .right-content .right-content_text .text-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#community .community-container .community-container_content .right-content .right-content_text .text-left h1,
#community .community-container .community-container_content .right-content .right-content_text .text-right h1 {
  font-weight: 700;
  font-size: 6em;
  color: var(--green-color);
}
#community .community-container .community-container_content .right-content .right-content_text .text-left span,
#community .community-container .community-container_content .right-content .right-content_text .text-right span {
  font-weight: 700;
  font-size: 4em;
  color: var(--light-color);
}
#community .community-container .community-container_content .right-content .right-content_price {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#community .community-container .community-container_content .right-content .right-content_price h3 {
  font-weight: 700;
  font-size: 2em;
  color: var(--light-color);
}
#community .community-container .community-container_content .right-content .right-content_price .average {
  display: flex;
  width: 110%;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(90deg, #fff 0%, #50fbc7 42.5%, #010f20 100%);
}
#community .community-container .community-container_content .right-content .right-content_price .average span {
  font-weight: 700;
  font-size: 4em;
  color: var(--dark-text);
}
#community .community-container .community-container_content .right-content .right-content_price .average h3 {
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  color: var(--dark-text);
}
#community .community-img {
  width: 100%;
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
#footer .footer-title {
  text-align: center;
}
#footer .footer-content {
  display: flex;
  justify-content: space-around;
}
#footer .footer-content .footer-content_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer .footer-content .footer-content_left span {
  font-weight: 700;
  font-size: 4.8em;
  text-transform: capitalize;
  color: var(--light-color);
  white-space: pre-line;
}
#footer .footer-content .footer-content_left p {
  font-weight: 400;
  font-size: 1.8em;
  color: #e2daf0;
  white-space: pre-line;
}
#footer .footer-content .footer-content_left .social {
  display: flex;
  gap: 2rem;
}
#footer .footer-content .footer-content_right {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
#footer .footer-content .footer-content_right .getInTouch-btn {
  border: 2px solid var(--green-color);
  border-radius: 1rem;
  background-color: unset;
  padding: 1.6rem 2.8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}
#footer .footer-content .footer-content_right .getInTouch-btn span {
  color: var(--light-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
}
#footer .footer-content .footer-content_right .qr-code {
  text-align: end;
}

@media (max-width: 1440px) {
  #home .home-ellipse {
    right: 20rem;
    left: 0rem;
    bottom: 0rem;
    top: 15rem;
    z-index: -1;
    border-radius: 100%;
    fill: linear-gradient(90deg, #05f 0%, #00ff6f 100%);
    filter: blur(55px);
  }
  #home .home-content {
    padding: 0;
    gap: 4rem;
  }
  #profession .profession-container {
    display: flex;
    gap: 3.5rem;
    padding: 0;
  }
  #profession .profession-container .profession-title {
    padding: 0;
  }
  #profession .profession-container .profession-container_box {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--light-color);
  }
  #community .community-container .community-container_content .right-content .right-content_price .average {
    width: 100%;
  }
  #footer .footer-content {
    gap: 10.3rem;
    justify-content: unset;
  }
  #footer .footer-content .footer-content_left {
    padding-right: 10rem;
  }
}
@media (max-width: 450px) {
  section {
    padding: 4.8rem 1.6rem;
  }
  #home {
    position: unset;
    gap: 2rem;
  }
  #home .home-content {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
  }
  #home .home-content .home-content_img {
    max-width: 60%;
  }
  #home .home-content .home-content_img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #home .home-content .home-content_text {
    max-width: 100%;
  }
  #home .home-content .home-content_text span {
    width: 100%;
    font-size: 32px;
    white-space: unset;
  }
  #home .home-title {
    width: 100%;
    height: 4rem;
  }
  #home .home-title img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #home .home-ellipse {
    position: absolute;
    right: 0rem;
    left: 0rem;
    bottom: 0rem;
    top: 0rem;
    z-index: -1;
    border-radius: 100%;
    fill: linear-gradient(90deg, #05f 0%, #00ff6f 100%);
    filter: blur(100px);
  }
  #home .home-ellipse img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about {
    gap: 3rem;
  }
  #about .about-title h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
  }
  #about .about-container .about-container_box {
    align-items: center;
    gap: 2rem;
  }
  #about .about-container .about-container_box .box-img {
    width: 8rem;
    height: 8rem;
  }
  #about .about-container .about-container_box .box-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about .about-container .about-container_box .box-content span {
    font-weight: 700;
    font-size: 2.4em;
  }
  #about .about-container .about-container_box .box-content p {
    font-weight: 400;
    font-size: 1.6em;
    white-space: normal;
  }
  #introduction .introduction-title h1 {
    font-weight: 700;
    font-size: 32px;
    text-transform: capitalize;
    text-align: center;
    padding: 0 5rem;
  }
  #introduction .introduction-content .introduction-content_box {
    width: 109px;
    height: 280px;
  }
  #introduction .introduction-content .introduction-content_box span {
    font-weight: 700;
    font-size: 16px;
  }
  #introduction .introduction-content .introduction-content_box p {
    font-weight: 500;
    font-size: 14px;
  }
  #profession .profession-ellipse {
    width: 100%;
    overflow: hidden;
  }
  #profession .profession-title h1 {
    font-weight: 700;
    font-size: 3.2em;
  }
  #profession .profession-container {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  #profession .profession-container .profession-container_box {
    width: 6rem;
    height: 6rem;
  }
  #community {
    padding: 6rem 1.6rem;
  }
  #community .community-container {
    align-items: center;
  }
  #community .community-container .community-container_title {
    max-width: 60%;
  }
  #community .community-container .community-container_title h1 {
    font-size: 32px;
  }
  #community .community-container .community-container_content {
    gap: 3rem;
    padding: 0;
    flex-direction: column;
  }
  #community .community-container .community-container_content .left-content {
    gap: 1.8rem;
  }
  #community .community-container .community-container_content .left-content .left-content_title {
    gap: 2rem;
  }
  #community .community-container .community-container_content .left-content .left-content_title .title_img {
    display: flex;
  }
  #community .community-container .community-container_content .left-content .left-content_title span {
    font-size: 2em;
  }
  #community .community-container .community-container_content .left-content .bottom-left_content {
    gap: unset;
    flex-direction: column;
  }
  #community .community-container .community-container_content .right-content .right-content_text .text-left h1,
  #community .community-container .community-container_content .right-content .right-content_text .text-right h1 {
    font-size: 4em;
  }
  #community .community-container .community-container_content .right-content .right-content_text .text-left span,
  #community .community-container .community-container_content .right-content .right-content_text .text-right span {
    font-size: 2em;
  }
  #community .community-container .community-container_content .right-content .right-content_price h3 {
    max-width: 70%;
    font-size: 1.6em;
  }
  #community .community-container .community-container_content .right-content .right-content_price .average {
    width: 100%;
    background: linear-gradient(90deg, #fff 0%, #50fbc7 42.5%, #010f20 101%);
  }
  #community .community-container .community-container_content .right-content .right-content_price .average span {
    font-size: 3.2em;
  }
  #community .community-container .community-container_content .right-content .right-content_price .average h3 {
    font-size: 1.6em;
  }
  #community .community-img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #footer {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  #footer .footer-title {
    width: 100%;
    height: 4rem;
  }
  #footer .footer-title img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #footer .footer-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 3.2rem;
  }
  #footer .footer-content .footer-content_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    gap: 2rem;
  }
  #footer .footer-content .footer-content_left span {
    font-size: 2.8em;
  }
  #footer .footer-content .footer-content_left p {
    font-weight: 400;
    font-size: 1.8em;
    color: #e2daf0;
    white-space: pre-line;
  }
  #footer .footer-content .footer-content_left .social {
    display: flex;
    gap: 2rem;
    margin-top: 1.2rem;
  }
  #footer .footer-content .footer-content_right {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
  }
  #footer .footer-content .footer-content_right .getInTouch-btn {
    border: 2px solid var(--green-color);
    border-radius: 1rem;
    background-color: unset;
    padding: 0.8rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
  }
  #footer .footer-content .footer-content_right .getInTouch-btn .getInTouch-img {
    width: 2.4rem;
  }
  #footer .footer-content .footer-content_right .getInTouch-btn .getInTouch-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #footer .footer-content .footer-content_right .getInTouch-btn span {
    font-size: 18px;
  }
  #footer .footer-content .footer-content_right .qr-code {
    text-align: end;
  }
}/*# sourceMappingURL=styles.css.map */